# Ignore initial raw_data that can be obtained from GEO.
*.gz
*.txt

# Ignore big preprocessing output files.
GSE250396/data/preprocessed_seurat_obj.RData
GSE264162/data/preprocessed_seurat_obj.RData
GSE264278/data/preprocessed_seurat_obj.RData

# Ignore redundant/archived/WIP files. 
GSE250396/scripts/.Rhistory
GSE264162/scripts/.Rhistory
GSE264162/scripts/Archive/.Rhistory
GSE264162/scripts/Archive/
GSE264278/scripts/.Rhistory
